In [18]:
import pandas as pd
import numpy as np

In [19]:
density=pd.read_csv('density.csv')
cpt=pd.read_csv('cpt.csv')
viscosity=pd.read_csv('viscosity.csv')
print(density.shape,viscosity.shape,cpt.shape)

(31326, 6) (12629, 5) (16957, 4)

In [31]:
viscosity.head()

,"Kinematic viscosity, m<SUP>2</SUP>/s","Pressure, kPa","Temperature, K","Viscosity, Pa&#8226;s",salt_name
0,NaN,101.000,298.15,0.1954,1-hexyl-3-methylimidazolium tetrafluoroborate
1,NaN,101.325,298.10,0.0880,"N,N-diethyl-2-methoxy-N-methylethan-1-aminium ..."
2,NaN,101.325,298.10,0.0910,"N,N,N-triethyl-2-methoxyethan-1-aminium triflu..."
3,NaN,101.325,298.10,0.0700,"N-ethyl-2-methoxy-N,N-dimethylethan-1-aminium ..."
4,NaN,101.325,298.10,0.0760,"2-methoxy-N,N,N-trimethylethan-1-aminium trifl..."

In [32]:
two=pd.merge(density,cpt,on=['Pressure, kPa','Temperature, K','salt_name'],how='inner')
total=pd.merge(two,viscosity,on=['Pressure, kPa','Temperature, K','salt_name'],how='inner')
total.shape

(43083, 9)

In [33]:
total=total.drop(['Molar volume, m<SUP>3</SUP>/mol','Specific volume, m<SUP>3</SUP>/kg','Kinematic viscosity, m<SUP>2</SUP>/s'],axis=1)
total.shape

(43083, 6)

In [36]:
total.drop_duplicates(keep='first').shape

(26659, 6)

In [37]:
total=total.drop_duplicates(keep='first') #7000 duplicAtes

In [38]:
total.to_csv('intersection_all.csv')

In [39]:
total.describe()

,"Pressure, kPa","Specific density, kg/m<SUP>3</SUP>","Temperature, K","Heat capacity at constant pressure, J/K/mol","Viscosity, Pa&#8226;s"
count,26659.000000,26189.000000,26659.000000,26659.000000,25664.000000
mean,117.687771,1287.773426,309.576745,458.697542,0.086311
std,508.905440,131.732158,15.635774,140.641191,0.160244
min,100.000000,847.500000,278.150000,231.800000,0.003160
25%,101.325000,1195.000000,298.150000,369.900000,0.030130
50%,101.325000,1243.800000,303.150000,411.600000,0.052200
75%,101.325000,1405.410000,318.150000,533.000000,0.100000
max,20000.000000,1557.100000,373.150000,1764.000000,10.200000