In [26]:
import pandas as pd
import numpy as np

In [37]:
density=pd.read_csv('density.csv')
cpt=pd.read_csv('cpt.csv')
viscosity=pd.read_csv('viscosity.csv')
print(density.shape,viscosity.shape,cpt.shape)

(31326, 6) (12629, 5) (16957, 4)

In [38]:
viscosity.head()

,"Kinematic viscosity, m<SUP>2</SUP>/s","Pressure, kPa","Temperature, K","Viscosity, Pa&#8226;s",salt_name
0,NaN,101.000,298.15,0.1954,1-hexyl-3-methylimidazolium tetrafluoroborate
1,NaN,101.325,298.10,0.0880,"N,N-diethyl-2-methoxy-N-methylethan-1-aminium ..."
2,NaN,101.325,298.10,0.0910,"N,N,N-triethyl-2-methoxyethan-1-aminium triflu..."
3,NaN,101.325,298.10,0.0700,"N-ethyl-2-methoxy-N,N-dimethylethan-1-aminium ..."
4,NaN,101.325,298.10,0.0760,"2-methoxy-N,N,N-trimethylethan-1-aminium trifl..."

In [42]:
two=pd.merge(density,cpt,on=['Pressure, kPa','Temperature, K','salt_name'],how='inner')
total=pd.merge(two,viscosity,on=['Pressure, kPa','Temperature, K','salt_name'],how='inner')
total.shape

(43083, 9)

In [43]:
total=total.drop(['Molar volume, m<SUP>3</SUP>/mol','Specific volume, m<SUP>3</SUP>/kg','Kinematic viscosity, m<SUP>2</SUP>/s'],axis=1)

In [41]:
total.drop_duplicates(keep='first').shape #7000 duplicAtes

(26659, 6)